<ActionBar class="action-bar">
	<!-- 
	Use the NavigationButton as a side-drawer button in Android
	because ActionItems are shown on the right side of the ActionBar
	-->
	<NavigationButton ios:visibility="collapsed" icon="res://ic_arrow_back" (tap)="getBack()"></NavigationButton>
	<!-- 
	Use the ActionItem for IOS with position set to left. Using the
	NavigationButton as a side-drawer button in iOS is not possible,
	because its function is to always navigate back in the application.
	-->
	<ActionItem android:visibility="collapsed" icon="navigation//ic_arrow_back" (tap)="getBack()" ios.position="left"></ActionItem>
	<Label class="action-bar-title" [text]="infoNew.titulo"></Label>
	<ng-container>
		<ActionItem android.systemIcon="ic_menu_search_mtrl_alpha"></ActionItem>
		<ActionItem android.position="popup" text="Destaque"></ActionItem>
		<ActionItem android.position="popup" text="Rankings"></ActionItem>
		<ActionItem android.position="popup" text="Emblemas"></ActionItem>
	</ng-container>
</ActionBar>
<GridLayout>
	<ScrollView *ngIf="infoNew">
		<StackLayout padding="10" class="new">
			<Label textWrap="true" [text]="infoNew.titulo" class="title"></Label>
			<Label class="hr-light m-10"></Label>
			<Label textWrap="true" [text]="infoNew.descricao" class="description"></Label>
			<WebView src="{{ infoNew.noticia }}"></WebView>
			<Label class="hr-light m-10"></Label>
			<Label textWrap="true" [text]="infoNew.autor" class="writer"></Label>
		</StackLayout>
	</ScrollView>
</GridLayout>