<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="goMenu()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="goMenu()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Início"></Label>
    <ng-container>
        <ActionItem android.systemIcon="ic_menu_search_mtrl_alpha"></ActionItem>
        <ActionItem android.position="popup" text="Destaque"></ActionItem>
        <ActionItem android.position="popup" text="Rankings"></ActionItem>
        <ActionItem android.position="popup" text="Emblemas"></ActionItem>
    </ng-container>
</ActionBar>
<TabView tabBackgroundColor="#00afeb" tabTextFontSize="14" selectedTabTextColor="#FFFFFF" androidSelectedTabHighlightColor="#FFFFFF" #element>
    <ng-template tabItem title="{{ 'Notícias' }}">                              
        <GridLayout class="page page-content" rows="*">
            <RadListView #newsListView row="0" class="list-group" [items]="news" backgroundColor="#f8f8f8" (itemTap)="showNew($event)" loadOnDemandMode="Auto" (loadMoreDataRequested)="moreItems($event)">
                <ng-template tkListItemTemplate let-new="item" let-index="new.id">
                    <GridLayout orientation="horizontal" class="list-group-item" rows="auto, auto, auto" columns="auto,*, auto">
                        <Image col="0" row="0" [src]="new.attributes.imagem" stretch="aspectFill" width="96" height="92"></Image>
                        <StackLayout col="1" row="0" marginLeft="15" class="new">
                            <Label horizontalAlignment="left" marginRight="5" height="25" padding="5" class="type fa btn-rounded-sm" [text]="new.attributes.categoria"></Label>
                            <Label marginTop="5" paddingRight="5" class="time" [text]="new.attributes.data_publicao.date | date: 'dd/MM/yyyy'"></Label>
                            <Label marginTop="5" paddingRight="5" class="list-group-item-heading font-weight-bold" [text]="new.attributes.titulo"></Label>
                            <Label marginTop="5" paddingRight="5" class="writer" [text]="'Por: ' + new.attributes.autor"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <DockLayout stretchLastChild="false">
                <GridLayout rows="auto, *, auto" columns="auto, auto, auto" dock="bottom" height="60" backgroundColor="#00afeb">
                    <Button class="fa" row="0" col="0" text="&#xf04b;" (tap)="togglePlayer('PAUSE')" height="40" width="40" marginLeft="5"  marginTop="10"></Button>
                    <Label class="program fa" col="1" row="0" [text]="'&#xf007; ' + status.broadcaster + ' | ' + status.program" marginTop="10" marginLeft="15"></Label>
                    <Label class="music fa" col="1" row="0" [text]="'&#xf0a1; ' + status.music" width="270" marginTop="30"></Label>
                    <Label class="unique fa" col="1" row="0" [text]="'&#xf025; ' + status.listeners" marginTop="10" marginLeft="250"></Label>
                </GridLayout>
            </DockLayout>
        </GridLayout>        
    </ng-template>
    <StackLayout *tabItem="{title: 'Comumidade'}">
        <GridLayout class="page page-content" rows="*">
            <RadListView #communitiesListView row="0" class="list-group" [items]="communities" backgroundColor="#f8f8f8" (itemTap)="showNew($event)" loadOnDemandMode="Auto" (loadMoreDataRequested)="moreItems($event)">
                <ng-template tkListItemTemplate let-community="item" let-index="community.id">
                    <GridLayout orientation="horizontal" class="list-group-item" rows="auto, auto, auto" columns="auto,*, auto">
                        <StackLayout col="0" row="0" marginLeft="15" class="new">
                            <Label marginTop="5" paddingRight="5" class="time" [text]="community.attributes.data_publicao.date | date: 'dd/MM/yyyy'"></Label>
                            <Label marginTop="5" paddingRight="5" class="list-group-item-heading font-weight-bold" [text]="community.attributes.titulo"></Label>
                            <Label marginTop="5" paddingRight="5" class="writer" [text]="'Por: ' + community.attributes.autor"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <DockLayout stretchLastChild="false">
                <GridLayout rows="auto, *, auto" columns="auto, auto, auto" dock="bottom" height="60" backgroundColor="#00afeb">
                    <Button class="fa" row="0" col="0" text="&#xf04b;" (tap)="togglePlayer('PAUSE')" height="40" width="40" marginLeft="5"  marginTop="10"></Button>
                    <Label class="program fa" col="1" row="0" [text]="'&#xf007; ' + status.broadcaster + ' | ' + status.program" marginTop="10" marginLeft="15"></Label>
                    <Label class="music fa" col="1" row="0" [text]="'&#xf0a1; ' + status.music" width="270" marginTop="30"></Label>
                    <Label class="unique fa" col="1" row="0" [text]="'&#xf025; ' + status.listeners" marginTop="10" marginLeft="250"></Label>
                </GridLayout>
            </DockLayout>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Colunas'}">
        <GridLayout class="page page-content">
            <Label class="page-icon fa" text="&#xf015;"></Label>
            <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
        </GridLayout>   
    </StackLayout>
</TabView>