.new {
    .type {
        background-color: #00afeb;
        border-radius: 80;
        color: #FFFFFF;
    }
    .writer {
        font-size: 14;
    }
}

.time {
    color: #bbbbbb;
    font-size: 14;
}

GridLayout {
    Button {
        color: #00afeb;
        background: #FFFFFF;
    }
    
    .program {
        color: #FFFFFF;
        font-weight: bold;
    }

    .music {
        color: #FFFFFF;
    }

    .unique {
        color: #FFFFFF;
    }
}